obj/myApp.csproj.nuget.dgspec.json
obj/myApp.csproj.nuget.g.props
obj/myApp.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/apphost.exe
obj/Debug/net5.0/myApp.AssemblyInfo.cs
obj/Debug/net5.0/myApp.AssemblyInfoInputs.cache
obj/Debug/net5.0/myApp.assets.cache
obj/Debug/net5.0/myApp.csproj.AssemblyReference.cache
obj/Debug/net5.0/myApp.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/myApp.csproj.FileListAbsolute.txt
obj/Debug/net5.0/myApp.dll
obj/Debug/net5.0/myApp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/myApp.genruntimeconfig.cache
obj/Debug/net5.0/myApp.pdb
obj/Debug/net5.0/ref/myApp.dll
bin/Debug/net5.0/myApp.deps.json
bin/Debug/net5.0/myApp.dll
bin/Debug/net5.0/myApp.exe
bin/Debug/net5.0/myApp.pdb
bin/Debug/net5.0/myApp.runtimeconfig.dev.json
bin/Debug/net5.0/myApp.runtimeconfig.json
bin/Debug/net5.0/Newtonsoft.Json.dll
bin/Debug/net5.0/VaultSharp.dll
bin/Debug/net5.0/ref/myApp.dll
.vscode/launch.json
.vscode/tasks.json
